body{
    background-color: #f1f0e2;
    margin-top: 0%;
}

#logo{
    height: 100px;
    width: 120px;
    margin-left: 50px;
    
}
nav{
    background-color: #dee1c6;
    text-align: right;
    width: 80%;
    margin-top:0%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

nav a{
    text-decoration: none;
    font-family: "Courier Prime", monospace;
    font-size: medium;
    font-weight:bolder;
    color: #505c45;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

nav a:visited {
    /* a hyperlink that has been visited */
    color: #56ab8a;
}

nav a:hover {
    /* triggered when the mouse moves over the hyperlink */
    color: #01d6ff;
}

nav a:focus {
    /* triggered when the hyperlink has focus */
    color: #cb2127;
} 

nav a:active {
    /* triggered when the hyperlink is being clicked */
    color: #005dfe;
}

header{
    text-align: center;
    background-color: #dee1c6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 90px;
    margin-bottom: 10px;
    margin-top: 0%;
    padding-top: 50px;
}

.h2{
    font-family: 'Times New Roman', Times, serif;
    color: #505c45;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 1px;
    margin-bottom: 0%;
    padding-bottom: 50px;
}

#service{
    background-color:#ebebeb;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    padding-bottom: 60px;
}

.para1{
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: #ebebeb;
}

#pictures{
    background-color: #ffffff;  
    padding-top: 10px;
    padding-bottom: 10px;
}

#pictures a{
    text-decoration: none;
    display: flex;
    justify-content:space-around;
    align-content: center;
}

.p1{
    padding-bottom:30px;
    padding-top:30px;
    padding-left: 30px;
}

.p2{
    padding-bottom:30px;
    padding-top:30px;
}

.p3{
    padding-bottom:30px;
    padding-top:30px;
    padding-right:30px;
}

#contact{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

.index{
    height: 55vh;
    flex: 1;
}

footer{
    font-family: "Courier Prime", monospace;
    font-size:large;
    font-weight:bolder;
    color: #505c45;
    text-align: right;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
}

hr{
    border-width: 0.5px;
    background-color: #505c45;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
}

footer a{
    text-decoration: none;
    color: #505c45;
}

footer a:hover{
    /* triggered when the mouse moves over the hyperlink */
    color: #01d6ff;
}