body{
    background-color: #f1f0e2;
}

/* logo place and size */
#logo{
    height: 100px;
    width: 120px;
    margin-left: 50px;
}

/* nav place and size */
nav{
    border-radius: 0 0 30px 30px;
    background-color: #dee1c6;
    text-align: center;
    width: 80%;
    margin-top:0%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* nav decoration */
nav a{
    text-decoration: none;
    font-family: "Courier Prime", monospace;
    font-size: medium;
    font-weight:bolder;
    color: #505c45;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

nav a:visited {
    /* a hyperlink that has been visited */
    color: #56ab8a;
}

nav a:hover {
    /* triggered when the mouse moves over the hyperlink */
    color: #01d6ff;
}

nav a:focus {
    /* triggered when the hyperlink has focus */
    color: #cb2127;
} 

nav a:active {
    /* triggered when the hyperlink is being clicked */
    color: #005dfe;
}

/* header place and size */
header{
    border-radius: 30px 30px 0 0;
    text-align: center;
    background-color: #dee1c6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 90px;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 50px;
}

/* pic size */
#price_chart{
    padding-top: 30px; 
    padding-bottom: 30px;
    height: 384px; 
    width: 512px;
}

/* let the pic pop when cursor move onto it */
#price_chart:hover{
   transform: scale(1.05);
}

/* align content */
main {
    padding: 20px;
    text-align: center;
  }

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
}

/* style title */
#title{
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    font-style: italic;
    font-size: 3em;
    font-weight: bold;
    color: #ffffff; 
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 0%;
}

#title1{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.519); /*more visible*/
    font-style: italic;
    font-size: 1.1em;
    font-weight: bolder;
    background-color: #dee1c6;
    color: #babfa7; 
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title_s{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.519);/*more visible*/
    font-style: italic;
    font-size: 1.1em;
    font-weight: bolder;
    color: #ffffff; 
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* introduction panel */
.introbox{
    background-image: url('image/service_1.png');
    background-color: #ebebeb ;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier Prime", monospace ;
    text-align: center;
    text-align: center;   /* Center content */
}

.roompic {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

.suitebox {
    background-color: #babfa7;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);/*more visible*/
    padding: 20px;
    margin-bottom: 20px;
  }

  /* pop when cursor move onto it */
  .suitebox:hover {
    transform: translateY(-5px);
  }

  .title{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);/*more visible*/
    border-style:double ;
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff; 
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
  }

#info{
    font-family: "Courier Prime", monospace;
    border-radius: 30px;
    background-color: #ebebeb ;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier Prime", monospace ;
    text-align: center;
    padding: 20px;
}

#roomfeatures{
    border-radius: 30px;
    background-image: url('image/service_2.png');
    margin-left: auto;
    margin-right: auto;
    background-color: #dee1c6;  
}

h4{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);/*more visible*/
    font-family: "Courier Prime", monospace;
    font-weight: bolder;
    margin-top: 0%;
    padding-bottom: 0%;
    padding-left: 40px;
    padding-top: 30px;
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
    color: #505c45; 
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 0%;
}

ul{
    padding-bottom: 30px;
}

/* text deco */
ul li{
    color: #505c45;
    font-family: "Courier Prime", monospace;
    font-weight:bold;
    font-size: 1.04em;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
}

#li{
    padding-top: 20px;
}

#li2{
    padding-bottom: 20px;
}

/* more visible + deco */
hr{
    border-width: 0.5px;
    background-color: #505c45;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
}

footer{
    font-family: "Courier Prime", monospace;
    font-size:large;
    font-weight:bolder;
    color: #505c45;
    text-align: right;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
}

/* remove underline + add color */
footer a{
    text-decoration: none;
    color: #505c45;
}

footer a:hover{
    /* triggered when the mouse moves over the hyperlink */
    color: #01d6ff;
}

/* Add border radius to the image */
img{
    border-radius: 30px;
}